body{background: #f6f8f9}
.App {
/*   text-align: center; */
  
}
.tag-group{
  background: none;margin: 0px;
}
.table-data .table-group td{
  border: 0px;
  border-bottom: 1px solid #DDDDDD
}
.table-data .table-group thead.block-header{
  background: none;
}
.table-data .table-group th{
  background: none;
  border: 0px;
  border-bottom: 1px solid #DDDDDD
}

.button-success,.button-success:hover{
  -webkit-box-shadow:none;
  box-shadow:none;
}
.tag-primary{background:#20a0ff!important}
.tag-group .tag-block:hover{background:#20a0ff!important}

.a-link{color: #409eff;}

.width-600{width: 600px;}


.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url("http://www.100sucai.com/tools/button.css-1.0.2/css/button.css");